---
    import BaseLayout from "../layouts/BaseLayout.astro";
    const pageTitle = "Blog";
---
<BaseLayout pageTitle={pageTitle}>

    <h2>This is where I showcase what I'm learning using Astro.js</h2>

    <h2>Blog Posts</h2>

    <ul>
        <li><a href="/posts/post-1">First Blog Post</a></li>
        <li><a href="/posts/post-2">Second Blog Post</a></li>
        <li><a href="/posts/post-3">Third Blog Post</a></li>
    </ul>
</BaseLayout>

